<a href="https://colab.research.google.com/github/lee7py/2021-py-bigdata/blob/main/my_ch07_study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Cleaning and Preparation

In [ ]:
import numpy as np
import pandas as pd
PREVIOUS_MAX_ROWS = pd.options.display.max_rows
pd.options.display.max_rows = 20
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(10, 6))
np.set_printoptions(precision=4, suppress=True)

## Handling Missing Data

In [ ]:
string_data = pd.Series(['aardvark', 'artichoke', np.nan, 'avocado'])
string_data
string_data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [ ]:
string_data[0] = None
string_data.isnull()

0     True
1    False
2     True
3    False
dtype: bool

In [ ]:
string_data

0         None
1    artichoke
2          NaN
3      avocado
dtype: object

### Filtering Out Missing Data

In [ ]:
from numpy import nan as NA
data = pd.Series([1, NA, 3.5, NA, 7])
data

0    1.0
1    NaN
2    3.5
3    NaN
4    7.0
dtype: float64

In [ ]:
data.dropna()

0    1.0
2    3.5
4    7.0
dtype: float64

In [ ]:
data[data.notnull()]

0    1.0
2    3.5
4    7.0
dtype: float64

In [ ]:
data = pd.DataFrame([[1., 6.5, 3.], [1., NA, NA],
                     [NA, NA, NA], [NA, 6.5, 3.]])
cleaned = data.dropna()

In [ ]:
data

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [ ]:
cleaned

     0    1    2
0  1.0  6.5  3.0

In [ ]:
data.dropna(how='all')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0

In [ ]:
data[4] = NA
data

     0    1    2   4
0  1.0  6.5  3.0 NaN
1  1.0  NaN  NaN NaN
2  NaN  NaN  NaN NaN
3  NaN  6.5  3.0 NaN

In [ ]:
data.dropna(axis=1, how='all')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [ ]:
df = pd.DataFrame(np.random.randn(7, 3))
df.iloc[:4, 1] = NA
df.iloc[:2, 2] = NA
df

          0         1         2
0  0.332883       NaN       NaN
1 -1.541996       NaN       NaN
2  0.286350       NaN -0.753887
3  0.331286       NaN  0.069877
4  0.246674 -0.011862  1.004812
5  1.327195 -0.919262 -1.549106
6  0.022185  0.758363 -0.660524

In [ ]:
df.dropna()

          0         1         2
4  0.246674 -0.011862  1.004812
5  1.327195 -0.919262 -1.549106
6  0.022185  0.758363 -0.660524

In [ ]:
df.dropna(thresh=2)

          0         1         2
2  0.286350       NaN -0.753887
3  0.331286       NaN  0.069877
4  0.246674 -0.011862  1.004812
5  1.327195 -0.919262 -1.549106
6  0.022185  0.758363 -0.660524

### Filling In Missing Data

In [ ]:
df

          0         1         2
0 -0.204708       NaN       NaN
1 -0.555730       NaN       NaN
2  0.092908       NaN  0.769023
3  1.246435       NaN -1.296221
4  0.274992  0.228913  1.352917
5  0.886429 -2.001637 -0.371843
6  1.669025 -0.438570 -0.539741

In [ ]:
df.fillna(0)

          0         1         2
0 -0.204708  0.000000  0.000000
1 -0.555730  0.000000  0.000000
2  0.092908  0.000000  0.769023
3  1.246435  0.000000 -1.296221
4  0.274992  0.228913  1.352917
5  0.886429 -2.001637 -0.371843
6  1.669025 -0.438570 -0.539741

In [ ]:
df

          0         1         2
0 -0.204708       NaN       NaN
1 -0.555730       NaN       NaN
2  0.092908       NaN  0.769023
3  1.246435       NaN -1.296221
4  0.274992  0.228913  1.352917
5  0.886429 -2.001637 -0.371843
6  1.669025 -0.438570 -0.539741

In [ ]:
df.fillna({1: 0.5, 2: 0})

          0         1         2
0 -0.204708  0.500000  0.000000
1 -0.555730  0.500000  0.000000
2  0.092908  0.500000  0.769023
3  1.246435  0.500000 -1.296221
4  0.274992  0.228913  1.352917
5  0.886429 -2.001637 -0.371843
6  1.669025 -0.438570 -0.539741

In [ ]:
_ = df.fillna(0, inplace=True)
df

          0         1         2
0 -0.204708  0.000000  0.000000
1 -0.555730  0.000000  0.000000
2  0.092908  0.000000  0.769023
3  1.246435  0.000000 -1.296221
4  0.274992  0.228913  1.352917
5  0.886429 -2.001637 -0.371843
6  1.669025 -0.438570 -0.539741

In [ ]:
df = pd.DataFrame(np.random.randn(6, 3))
df.iloc[2:, 1] = NA
df.iloc[4:, 2] = NA
df

          0         1         2
0  0.476985  3.248944 -1.021228
1 -0.577087  0.124121  0.302614
2  0.523772       NaN  1.343810
3 -0.713544       NaN -2.370232
4 -1.860761       NaN       NaN
5 -1.265934       NaN       NaN

In [ ]:
df.fillna(method='ffill')

          0         1         2
0  0.476985  3.248944 -1.021228
1 -0.577087  0.124121  0.302614
2  0.523772  0.124121  1.343810
3 -0.713544  0.124121 -2.370232
4 -1.860761  0.124121 -2.370232
5 -1.265934  0.124121 -2.370232

In [ ]:
df.fillna(method='ffill', limit=2)

          0         1         2
0  0.476985  3.248944 -1.021228
1 -0.577087  0.124121  0.302614
2  0.523772  0.124121  1.343810
3 -0.713544  0.124121 -2.370232
4 -1.860761       NaN -2.370232
5 -1.265934       NaN -2.370232

In [ ]:
data = pd.Series([1., NA, 3.5, NA, 7])
data

0    1.0
1    NaN
2    3.5
3    NaN
4    7.0
dtype: float64

In [ ]:
data.fillna(data.mean())

0    1.000000
1    3.833333
2    3.500000
3    3.833333
4    7.000000
dtype: float64

## Data Transformation

### Removing Duplicates

In [ ]:
data = pd.DataFrame({'k1': ['one', 'two'] * 3 + ['two'],
                     'k2': [1, 1, 2, 3, 3, 4, 4]})
data

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4
6  two   4

In [ ]:
data.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

In [ ]:
data.drop_duplicates()

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4

In [ ]:
data['v1'] = range(7)
data

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
5  two   4   5
6  two   4   6

In [ ]:
data.duplicated(['k1'])

0    False
1    False
2     True
3     True
4     True
5     True
6     True
dtype: bool

In [ ]:
data.drop_duplicates(['k1'])

    k1  k2  v1
0  one   1   0
1  two   1   1

In [ ]:
data.drop_duplicates(['k1', 'k2'], keep='last')

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
6  two   4   6

In [ ]:
data.drop_duplicates(['k1', 'k2'])

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
5  two   4   5

### Transforming Data Using a Function or Mapping

In [ ]:
data = pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon',
                              'Pastrami', 'corned beef', 'Bacon',
                              'pastrami', 'honey ham', 'nova lox'],
                     'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

In [ ]:
meat_to_animal = {
  'bacon': 'pig',
  'pulled pork': 'pig',
  'pastrami': 'cow',
  'corned beef': 'cow',
  'honey ham': 'pig',
  'nova lox': 'salmon'
}

In [ ]:
lowercased = data['food'].str.lower()
lowercased

0          bacon
1    pulled pork
2          bacon
3       pastrami
4    corned beef
5          bacon
6       pastrami
7      honey ham
8       nova lox
Name: food, dtype: object

In [ ]:
data['animal'] = lowercased.map(meat_to_animal)
data

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     Pastrami     6.0     cow
4  corned beef     7.5     cow
5        Bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

In [ ]:
data['food'].map(lambda x: meat_to_animal[x.lower()])

0       pig
1       pig
2       pig
3       cow
4       cow
5       pig
6       cow
7       pig
8    salmon
Name: food, dtype: object

### Replacing Values

In [ ]:
data = pd.Series([1., -999., 2., -999., -1000., 3.])
data

0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       3.0
dtype: float64

In [ ]:
data.replace(-999, np.nan)

0       1.0
1       NaN
2       2.0
3       NaN
4   -1000.0
5       3.0
dtype: float64

In [ ]:
data.replace([-999, -1000], np.nan)

0    1.0
1    NaN
2    2.0
3    NaN
4    NaN
5    3.0
dtype: float64

In [ ]:
data.replace([-999, -1000], [np.nan, 0])

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

In [ ]:
data.replace({-999: np.nan, -1000: 0})

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

### Renaming Axis Indexes

In [ ]:
data = pd.DataFrame(np.arange(12).reshape((3, 4)),
                    index=['Ohio', 'Colorado', 'New York'],
                    columns=['one', 'two', 'three', 'four'])
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

In [ ]:
transform = lambda x: x[:4].upper()
data.index.map(transform)

Index(['OHIO', 'COLO', 'NEW '], dtype='object')

In [ ]:
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

In [ ]:
data.index = data.index.map(transform)
data

      one  two  three  four
OHIO    0    1      2     3
COLO    4    5      6     7
NEW     8    9     10    11

In [ ]:
data.rename(index=str.title, columns=str.upper)

      ONE  TWO  THREE  FOUR
Ohio    0    1      2     3
Colo    4    5      6     7
New     8    9     10    11

In [ ]:
data.rename(index={'OHIO': 'INDIANA'},
            columns={'three': 'peekaboo'})

         one  two  peekaboo  four
INDIANA    0    1         2     3
COLO       4    5         6     7
NEW        8    9        10    11

In [ ]:
data

      one  two  three  four
OHIO    0    1      2     3
COLO    4    5      6     7
NEW     8    9     10    11

In [ ]:
data.rename(index={'OHIO': 'INDIANA'}, inplace=True)
data

         one  two  three  four
INDIANA    0    1      2     3
COLO       4    5      6     7
NEW        8    9     10    11

###

In [ ]:
df = pd.DataFrame(np.arange(0, 20, 2).reshape(5, 2))
df.iloc[2:, 0] = np.nan
df[1] = np.nan
df

     0   1
0  0.0 NaN
1  4.0 NaN
2  NaN NaN
3  NaN NaN
4  NaN NaN

In [ ]:
df.dropna(how='all', inplace=True)
df

     0   1
0  0.0 NaN
1  4.0 NaN

In [ ]:
df.dropna?

In [ ]:
df.replace({np.nan: 1}, inplace=True)
df

     0    1
0  0.0  1.0
1  4.0  1.0

In [ ]:
df.sum().sum()

6.0

In [ ]:
df = pd.DataFrame(np.arange(0, 20, 2).reshape(5, 2))
df.iloc[2:, 0] = np.nan
df[1] = np.nan
df.dropna(how='all', inplace=True)
df.replace({np.nan: 1}, inplace=True)
df.sum().sum()

6.0

### Discretization and Binning

In [ ]:
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]

In [ ]:
bins = [18, 25, 35, 60, 100]
cats = pd.cut(ages, bins)
cats

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

In [ ]:
type(cats)

pandas.core.arrays.categorical.Categorical

In [ ]:
cats.codes

array([0, 0, 0, 1, 0, 0, 2, 1, 3, 2, 2, 1], dtype=int8)

In [ ]:
cats.categories

IntervalIndex([(18, 25], (25, 35], (35, 60], (60, 100]],
              closed='right',
              dtype='interval[int64]')

In [ ]:
pd.value_counts(cats)

(18, 25]     5
(25, 35]     3
(35, 60]     3
(60, 100]    1
dtype: int64

In [ ]:
pd.cut(ages, [18, 26, 36, 61, 100], right=False) #  )

[[18, 26), [18, 26), [18, 26), [26, 36), [18, 26), ..., [26, 36), [61, 100), [36, 61), [36, 61), [26, 36)]
Length: 12
Categories (4, interval[int64]): [[18, 26) < [26, 36) < [36, 61) < [61, 100)]

In [ ]:
ages

[20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]

In [ ]:
bins

[18, 25, 35, 60, 100]

In [ ]:
group_names = ['Youth', 'YoungAdult', 'MiddleAged', 'Senior']
pd.cut(ages, bins, labels=group_names)

['Youth', 'Youth', 'Youth', 'YoungAdult', 'Youth', ..., 'YoungAdult', 'Senior', 'MiddleAged', 'MiddleAged', 'YoungAdult']
Length: 12
Categories (4, object): ['Youth' < 'YoungAdult' < 'MiddleAged' < 'Senior']

In [ ]:
data = np.random.rand(20)
data

array([0.9296, 0.3164, 0.1839, 0.2046, 0.5677, 0.5955, 0.9645, 0.6532,
       0.7489, 0.6536, 0.7477, 0.9613, 0.0084, 0.1064, 0.2987, 0.6564,
       0.8098, 0.8722, 0.9646, 0.7237])

In [ ]:
print(data.max(), data.min())

0.9646475973719302 0.00838829794155349

In [ ]:
pd.cut(data, 4, precision=2)

[(0.73, 0.96], (0.25, 0.49], (0.0074, 0.25], (0.0074, 0.25], (0.49, 0.73], ..., (0.49, 0.73], (0.73, 0.96], (0.73, 0.96], (0.73, 0.96], (0.49, 0.73]]
Length: 20
Categories (4, interval[float64]): [(0.0074, 0.25] < (0.25, 0.49] < (0.49, 0.73] < (0.73, 0.96]]

* qcut()

In [ ]:
data = np.random.randn(1000)  # Normally distributed
print(data.max(), data.min())

3.92752804079273 -2.949343498142557

In [ ]:
cats = pd.qcut(data, 4)  # Cut into quartiles
cats

[(0.626, 3.928], (0.626, 3.928], (-2.9499999999999997, -0.691], (-0.691, -0.0171], (0.626, 3.928], ..., (-0.0171, 0.626], (0.626, 3.928], (-0.691, -0.0171], (-0.691, -0.0171], (-0.0171, 0.626]]
Length: 1000
Categories (4, interval[float64]): [(-2.9499999999999997, -0.691] < (-0.691, -0.0171] < (-0.0171, 0.626] < (0.626, 3.928]]

In [ ]:
pd.value_counts(cats)

(-2.9499999999999997, -0.691]    250
(-0.691, -0.0171]                250
(-0.0171, 0.626]                 250
(0.626, 3.928]                   250
dtype: int64

In [ ]:
cat = pd.qcut(data, [0, 0.1, 0.5, 0.9, 1.])
cat

[(1.297, 3.928], (-0.0171, 1.297], (-2.9499999999999997, -1.191], (-1.191, -0.0171], (1.297, 3.928], ..., (-0.0171, 1.297], (-0.0171, 1.297], (-1.191, -0.0171], (-1.191, -0.0171], (-0.0171, 1.297]]
Length: 1000
Categories (4, interval[float64]): [(-2.9499999999999997, -1.191] < (-1.191, -0.0171] < (-0.0171, 1.297] < (1.297, 3.928]]

In [ ]:
pd.value_counts(cat)

(-1.191, -0.0171]                400
(-0.0171, 1.297]                 400
(-2.9499999999999997, -1.191]    100
(1.297, 3.928]                   100
dtype: int64

In [ ]:
pd.value_counts(cat, sort=False)

(-2.9499999999999997, -1.191]    100
(-1.191, -0.0171]                400
(-0.0171, 1.297]                 400
(1.297, 3.928]                   100
dtype: int64

### Detecting and Filtering Outliers

In [ ]:
data = pd.DataFrame(np.random.randn(1000, 4))
data.describe(percentiles=[.3, .65, .9])

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.010657    -0.015024    -0.056806     0.034618
std       1.002557     0.969248     1.001915     1.022570
min      -3.508448    -2.724578    -3.225916    -3.073728
30%      -0.545313    -0.531297    -0.606492    -0.466396
50%       0.027724     0.010214    -0.080875     0.081043
65%       0.379562     0.353727     0.310472     0.430661
90%       1.336181     1.208729     1.248520     1.388108
max       3.113495     3.039873     3.389719     3.004068

In [ ]:
data.head(3)

          0         1         2         3
0  0.136213 -0.578972  0.317842  0.148489
1 -0.555454  0.225452  1.523634  0.050186
2 -0.936539 -0.306852 -1.237556  1.013025

In [ ]:
col = data[2]
col

0      0.317842
1      1.523634
2     -1.237556
3     -0.464429
4      1.233921
         ...
995   -0.340222
996    1.594724
997    0.266799
998   -1.436028
999   -0.185855
Name: 2, Length: 1000, dtype: float64

In [ ]:
np.abs(col) > 3

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: 2, Length: 1000, dtype: bool

In [ ]:
col[np.abs(col) > 3]

102   -3.225916
236   -3.142539
582    3.389719
692   -3.066981
890    3.153123
Name: 2, dtype: float64

In [ ]:
data[(np.abs(data) > 3).any(1)]

            0         1         2         3
94  -0.205259  0.202534 -1.589346 -3.073728
102 -0.816806  0.024818 -3.225916 -1.100430
236 -0.004916 -0.256640 -3.142539 -1.227206
501  3.113495  0.837764  2.257483 -2.034352
509  0.421278 -1.110583 -1.314896  3.004068
582 -2.436584 -0.095799  3.389719  0.412250
666 -3.089560  0.898763 -0.837477 -0.694483
692 -0.655538 -0.718596 -3.066981 -0.451568
707  0.360827  3.039873 -0.736824 -0.174840
729 -3.508448 -1.505830  0.006500 -1.552008
890  0.623477  0.357085  3.153123  0.550348

In [ ]:
data[np.abs(data) > 3] = np.sign(data) * 3
data[94:95]

           0         1         2    3
94 -0.205259  0.202534 -1.589346 -3.0

In [ ]:
data[(np.abs(data) > 3).any(1)]

Empty DataFrame
Columns: [0, 1, 2, 3]
Index: []

In [ ]:
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.011142    -0.015064    -0.056913     0.034687
std       1.000279     0.969123     0.998846     1.022336
min      -3.000000    -2.724578    -3.000000    -3.000000
25%      -0.680621    -0.684548    -0.764757    -0.692878
50%       0.027724     0.010214    -0.080875     0.081043
75%       0.702418     0.665785     0.613148     0.733907
max       3.000000     3.000000     3.000000     3.000000

In [ ]:
np.sign(data).head()

     0    1    2    3
0  1.0 -1.0  1.0  1.0
1 -1.0  1.0  1.0  1.0
2 -1.0 -1.0 -1.0  1.0
3  1.0  1.0 -1.0  1.0
4 -1.0  1.0  1.0 -1.0

### Permutation and Random Sampling

In [ ]:
df = pd.DataFrame(np.arange(5 * 4).reshape((5, 4)))
df

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [ ]:
sampler = np.random.permutation(5) #0~4     
sampler

array([3, 2, 0, 1, 4])

In [ ]:
df.take(sampler) #

    0   1   2   3
3  12  13  14  15
2   8   9  10  11
0   0   1   2   3
1   4   5   6   7
4  16  17  18  19

In [ ]:
df

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [ ]:
df.sample(n=3)

    0   1   2   3
0   0   1   2   3
3  12  13  14  15
4  16  17  18  19

In [ ]:
choices = pd.Series([5, 7, -1, 6, 4])
choices

0    5
1    7
2   -1
3    6
4    4
dtype: int64

In [ ]:
draws = choices.sample(n=10, replace=True)
#draws = choices.sample(n=10)  
draws

2   -1
3    6
3    6
3    6
0    5
1    7
0    5
2   -1
1    7
3    6
dtype: int64

In [ ]:
choices

0    5
1    7
2   -1
3    6
4    4
dtype: int64

### Computing Indicator/Dummy Variables

In [ ]:
df = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'b'],
                   'data1': range(6)})
df

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   b      5

In [ ]:
pd.get_dummies(df['key'])

   a  b  c
0  0  1  0
1  0  1  0
2  1  0  0
3  0  0  1
4  1  0  0
5  0  1  0

In [ ]:
pd.get_dummies(df['data1'])

   0  1  2  3  4  5
0  1  0  0  0  0  0
1  0  1  0  0  0  0
2  0  0  1  0  0  0
3  0  0  0  1  0  0
4  0  0  0  0  1  0
5  0  0  0  0  0  1

In [ ]:
dummies = pd.get_dummies(df['key'], prefix='key')
dummies

   key_a  key_b  key_c
0      0      1      0
1      0      1      0
2      1      0      0
3      0      0      1
4      1      0      0
5      0      1      0

In [ ]:
df_with_dummy = df[['data1']].join(dummies)
df_with_dummy

   data1  key_a  key_b  key_c
0      0      0      1      0
1      1      0      1      0
2      2      1      0      0
3      3      0      0      1
4      4      1      0      0
5      5      0      1      0

In [ ]:
df_with_dummy2 = pd.concat([df[['data1']], dummies], axis=1)
df_with_dummy2

   data1  key_a  key_b  key_c
0      0      0      1      0
1      1      0      1      0
2      2      1      0      0
3      3      0      0      1
4      4      1      0      0
5      5      0      1      0

* MovieLens

In [1]:
!ls

sample_data

In [2]:
from google.colab import files
files.upload()

Saving movies.dat to movies.dat

{'movies.dat': b"1::Toy Story (1995)::Animation|Children's|Comedy\r\n2::Jumanji (1995)::Adventure|Children's|Fantasy\r\n3::Grumpier Old Men (1995)::Comedy|Romance\r\n4::Waiting to Exhale (1995)::Comedy|Drama\r\n5::Father of the Bride Part II (1995)::Comedy\r\n6::Heat (1995)::Action|Crime|Thriller\r\n7::Sabrina (1995)::Comedy|Romance\r\n8::Tom and Huck (1995)::Adventure|Children's\r\n9::Sudden Death (1995)::Action\r\n10::GoldenEye (1995)::Action|Adventure|Thriller\r\n11::American President, The (1995)::Comedy|Drama|Romance\r\n12::Dracula: Dead and Loving It (1995)::Comedy|Horror\r\n13::Balto (1995)::Animation|Children's\r\n14::Nixon (1995)::Drama\r\n15::Cutthroat Island (1995)::Action|Adventure|Romance\r\n16::Casino (1995)::Drama|Thriller\r\n17::Sense and Sensibility (1995)::Drama|Romance\r\n18::Four Rooms (1995)::Thriller\r\n19::Ace Ventura: When Nature Calls (1995)::Comedy\r\n20::Money Train (1995)::Action\r\n21::Get Shorty (1995)::Action|Comedy|Drama\r\n22::Copycat (1995)::Crime|Drama|Thriller\r\n23::Assassins (1995)::Thriller\r\n24::Powder (1995)::Drama|Sci-Fi\r\n25::Leaving Las Vegas (1995)::Drama|Romance\r\n26::Othello (1995)::Drama\r\n27::Now and Then (1995)::Drama\r\n28::Persuasion (1995)::Romance\r\n29::City of Lost Children, The (1995)::Adventure|Sci-Fi\r\n30::Shanghai Triad (Yao a yao yao dao waipo qiao) (1995)::Drama\r\n31::Dangerous Minds (1995)::Drama\r\n32::Twelve Monkeys (1995)::Drama|Sci-Fi\r\n33::Wings of Courage (1995)::Adventure|Romance\r\n34::Babe (1995)::Children's|Comedy|Drama\r\n35::Carrington (1995)::Drama|Romance\r\n36::Dead Man Walking (1995)::Drama\r\n37::Across the Sea of Time (1995)::Documentary\r\n38::It Takes Two (1995)::Comedy\r\n39::Clueless (1995)::Comedy|Romance\r\n40::Cry, the Beloved Country (1995)::Drama\r\n41::Richard III (1995)::Drama|War\r\n42::Dead Presidents (1995)::Action|Crime|Drama\r\n43::Restoration (1995)::Drama\r\n44::Mortal Kombat (1995)::Action|Adventure\r\n45::To Die For (1995)::Comedy|Drama\r\n46::How to Make an American Quilt (1995)::Drama|Romance\r\n47::Seven (Se7en) (1995)::Crime|Thriller\r\n48::Pocahontas (1995)::Animation|Children's|Musical|Romance\r\n49::When Night Is Falling (1995)::Drama|Romance\r\n50::Usual Suspects, The (1995)::Crime|Thriller\r\n51::Guardian Angel (1994)::Action|Drama|Thriller\r\n52::Mighty Aphrodite (1995)::Comedy\r\n53::Lamerica (1994)::Drama\r\n54::Big Green, The (1995)::Children's|Comedy\r\n55::Georgia (1995)::Drama\r\n56::Kids of the Round Table (1995)::Adventure|Children's|Fantasy\r\n57::Home for the Holidays (1995)::Drama\r\n58::Postino, Il (The Postman) (1994)::Drama|Romance\r\n59::Confessional, The (Le Confessionnal) (1995)::Drama|Mystery\r\n60::Indian in the Cupboard, The (1995)::Adventure|Children's|Fantasy\r\n61::Eye for an Eye (1996)::Drama|Thriller\r\n62::Mr. Holland's Opus (1995)::Drama\r\n63::Don't Be a Menace to South Central While Drinking Your Juice in the Hood (1996)::Comedy\r\n64::Two if by Sea (1996)::Comedy|Romance\r\n65::Bio-Dome (1996)::Comedy\r\n66::Lawnmower Man 2: Beyond Cyberspace (1996)::Sci-Fi|Thriller\r\n67::Two Bits (1995)::Drama\r\n68::French Twist (Gazon maudit) (1995)::Comedy|Romance\r\n69::Friday (1995)::Comedy\r\n70::From Dusk Till Dawn (1996)::Action|Comedy|Crime|Horror|Thriller\r\n71::Fair Game (1995)::Action\r\n72::Kicking and Screaming (1995)::Comedy|Drama\r\n73::Mis\xe9rables, Les (1995)::Drama|Musical\r\n74::Bed of Roses (1996)::Drama|Romance\r\n75::Big Bully (1996)::Comedy|Drama\r\n76::Screamers (1995)::Sci-Fi|Thriller\r\n77::Nico Icon (1995)::Documentary\r\n78::Crossing Guard, The (1995)::Drama\r\n79::Juror, The (1996)::Drama|Thriller\r\n80::White Balloon, The (Badkonake Sefid ) (1995)::Drama\r\n81::Things to Do in Denver when You're Dead (1995)::Crime|Drama|Romance\r\n82::Antonia's Line (Antonia) (1995)::Drama\r\n83::Once Upon a Time... When We Were Colored (1995)::Drama\r\n84::Last Summer in the Hamptons (1995)::Comedy|Drama\r\n85::Angels and Insects (1995)::Drama|Romance\r\n86::White Squall (1996)::Adventure|Drama\r\n87::Dunston Checks In (1996)::Children's|Comedy\r\n88::Black Sheep (1996)::Comedy\r\n89::Nick of Time (1995)::Action|Thriller\r\n90::Journey of August King, The (1995)::Drama\r\n92::Mary Reilly (1996)::Drama|Thriller\r\n93::Vampire in Brooklyn (1995)::Comedy|Romance\r\n94::Beautiful Girls (1996)::Drama\r\n95::Broken Arrow (1996)::Action|Thriller\r\n96::In the Bleak Midwinter (1995)::Comedy\r\n97::Hate (Haine, La) (1995)::Drama\r\n98::Shopping (1994)::Action|Thriller\r\n99::Heidi Fleiss: Hollywood Madam (1995)::Documentary\r\n100::City Hall (1996)::Drama|Thriller\r\n101::Bottle Rocket (1996)::Comedy\r\n102::Mr. Wrong (1996)::Comedy\r\n103::Unforgettable (1996)::Thriller\r\n104::Happy Gilmore (1996)::Comedy\r\n105::Bridges of Madison County, The (1995)::Drama|Romance\r\n106::Nobody Loves Me (Keiner liebt mich) (1994)::Comedy|Drama\r\n107::Muppet Treasure Island (1996)::Adventure|Children's|Comedy|Musical\r\n108::Catwalk (1995)::Documentary\r\n109::Headless Body in Topless Bar (1995)::Comedy\r\n110::Braveheart (1995)::Action|Drama|War\r\n111::Taxi Driver (1976)::Drama|Thriller\r\n112::Rumble in the Bronx (1995)::Action|Adventure|Crime\r\n113::Before and After (1996)::Drama|Mystery\r\n114::Margaret's Museum (1995)::Drama\r\n115::Happiness Is in the Field (1995)::Comedy\r\n116::Anne Frank Remembered (1995)::Documentary\r\n117::Young Poisoner's Handbook, The (1995)::Crime\r\n118::If Lucy Fell (1996)::Comedy|Romance\r\n119::Steal Big, Steal Little (1995)::Comedy\r\n120::Race the Sun (1996)::Drama\r\n121::Boys of St. Vincent, The (1993)::Drama\r\n122::Boomerang (1992)::Comedy|Romance\r\n123::Chungking Express (1994)::Drama|Mystery|Romance\r\n124::Star Maker, The (Uomo delle stelle, L') (1995)::Drama\r\n125::Flirting With Disaster (1996)::Comedy\r\n126::NeverEnding Story III, The (1994)::Adventure|Children's|Fantasy\r\n127::Silence of the Palace, The (Saimt el Qusur) (1994)::Drama\r\n128::Jupiter's Wife (1994)::Documentary\r\n129::Pie in the Sky (1995)::Comedy|Romance\r\n130::Angela (1995)::Drama\r\n131::Frankie Starlight (1995)::Drama|Romance\r\n132::Jade (1995)::Thriller\r\n133::Nueba Yol (1995)::Comedy|Drama\r\n134::Sonic Outlaws (1995)::Documentary\r\n135::Down Periscope (1996)::Comedy\r\n136::From the Journals of Jean Seberg (1995)::Documentary\r\n137::Man of the Year (1995)::Documentary\r\n138::Neon Bible, The (1995)::Drama\r\n139::Target (1995)::Action|Drama\r\n140::Up Close and Personal (1996)::Drama|Romance\r\n141::Birdcage, The (1996)::Comedy\r\n142::Shadows (Cienie) (1988)::Drama\r\n143::Gospa (1995)::Drama\r\n144::Brothers McMullen, The (1995)::Comedy\r\n145::Bad Boys (1995)::Action\r\n146::Amazing Panda Adventure, The (1995)::Adventure|Children's\r\n147::Basketball Diaries, The (1995)::Drama\r\n148::Awfully Big Adventure, An (1995)::Drama\r\n149::Amateur (1994)::Crime|Drama|Thriller\r\n150::Apollo 13 (1995)::Drama\r\n151::Rob Roy (1995)::Drama|Romance|War\r\n152::Addiction, The (1995)::Horror\r\n153::Batman Forever (1995)::Action|Adventure|Comedy|Crime\r\n154::Belle de jour (1967)::Drama\r\n155::Beyond Rangoon (1995)::Drama|War\r\n156::Blue in the Face (1995)::Comedy\r\n157::Canadian Bacon (1994)::Comedy|War\r\n158::Casper (1995)::Adventure|Children's\r\n159::Clockers (1995)::Drama\r\n160::Congo (1995)::Action|Adventure|Mystery|Sci-Fi\r\n161::Crimson Tide (1995)::Drama|Thriller|War\r\n162::Crumb (1994)::Documentary\r\n163::Desperado (1995)::Action|Romance|Thriller\r\n164::Devil in a Blue Dress (1995)::Crime|Film-Noir|Mystery|Thriller\r\n165::Die Hard: With a Vengeance (1995)::Action|Thriller\r\n166::Doom Generation, The (1995)::Comedy|Drama\r\n167::Feast of July (1995)::Drama\r\n168::First Knight (1995)::Action|Adventure|Drama|Romance\r\n169::Free Willy 2: The Adventure Home (1995)::Adventure|Children's|Drama\r\n170::Hackers (1995)::Action|Crime|Thriller\r\n171::Jeffrey (1995)::Comedy\r\n172::Johnny Mnemonic (1995)::Action|Sci-Fi|Thriller\r\n173::Judge Dredd (1995)::Action|Adventure|Sci-Fi\r\n174::Jury Duty (1995)::Comedy\r\n175::Kids (1995)::Drama\r\n176::Living in Oblivion (1995)::Comedy\r\n177::Lord of Illusions (1995)::Horror\r\n178::Love & Human Remains (1993)::Comedy\r\n179::Mad Love (1995)::Drama|Romance\r\n180::Mallrats (1995)::Comedy\r\n181::Mighty Morphin Power Rangers: The Movie (1995)::Action|Children's\r\n182::Moonlight and Valentino (1995)::Drama|Romance\r\n183::Mute Witness (1994)::Thriller\r\n184::Nadja (1994)::Drama\r\n185::Net, The (1995)::Sci-Fi|Thriller\r\n186::Nine Months (1995)::Comedy\r\n187::Party Girl (1995)::Comedy\r\n188::Prophecy, The (1995)::Horror\r\n189::Reckless (1995)::Comedy\r\n190::Safe (1995)::Thriller\r\n191::Scarlet Letter, The (1995)::Drama\r\n192::Show, The (1995)::Documentary\r\n193::Showgirls (1995)::Drama\r\n194::Smoke (1995)::Drama\r\n195::Something to Talk About (1995)::Comedy|Drama|Romance\r\n196::Species (1995)::Horror|Sci-Fi\r\n197::Stars Fell on Henrietta, The (1995)::Drama\r\n198::Strange Days (1995)::Action|Crime|Sci-Fi\r\n199::Umbrellas of Cherbourg, The (Parapluies de Cherbourg, Les) (1964)::Drama|Musical\r\n200::Tie That Binds, The (1995)::Thriller\r\n201::Three Wishes (1995)::Drama\r\n202::Total Eclipse (1995)::Drama|Romance\r\n203::To Wong Foo, Thanks for Everything! Julie Newmar (1995)::Comedy\r\n204::Under Siege 2: Dark Territory (1995)::Action\r\n205::Unstrung Heroes (1995)::Comedy|Drama\r\n206::Unzipped (1995)::Documentary\r\n207::Walk in the Clouds, A (1995)::Drama|Romance\r\n208::Waterworld (1995)::Action|Adventure\r\n209::White Man's Burden (1995)::Drama\r\n210::Wild Bill (1995)::Western\r\n211::Browning Version, The (1994)::Drama\r\n212::Bushwhacked (1995)::Comedy\r\n213::Burnt By the Sun (Utomlyonnye solntsem) (1994)::Drama\r\n214::Before the Rain (Pred dozhdot) (1994)::Drama\r\n215::Before Sunrise (1995)::Drama|Romance\r\n216::Billy Madison (1995)::Comedy\r\n217::Babysitter, The (1995)::Drama|Thriller\r\n218::Boys on the Side (1995)::Comedy|Drama\r\n219::Cure, The (1995)::Drama\r\n220::Castle Freak (1995)::Horror\r\n222::Circle of Friends (1995)::Drama|Romance\r\n223::Clerks (1994)::Comedy\r\n224::Don Juan DeMarco (1995)::Comedy|Drama|Romance\r\n225::Disclosure (1994)::Drama|Thriller\r\n226::Dream Man (1995)::Thriller\r\n227::Drop Zone (1994)::Action\r\n228::Destiny Turns on the Radio (1995)::Comedy\r\n229::Death and the Maiden (1994)::Drama|Thriller\r\n230::Dolores Claiborne (1994)::Drama|Thriller\r\n231::Dumb & Dumber (1994)::Comedy\r\n232::Eat Drink Man Woman (1994)::Comedy|Drama\r\n233::Exotica (1994)::Drama\r\n234::Exit to Eden (1994)::Comedy\r\n235::Ed Wood (1994)::Comedy|Drama\r\n236::French Kiss (1995)::Comedy|Romance\r\n237::Forget Paris (1995)::Comedy|Romance\r\n238::Far From Home: The Adventures of Yellow Dog (1995)::Adventure|Children's\r\n239::Goofy Movie, A (1995)::Animation|Children's|Comedy|Romance\r\n240::Hideaway (1995)::Thriller\r\n241::Fluke (1995)::Children's|Drama\r\n242::Farinelli: il castrato (1994)::Drama|Musical\r\n243::Gordy (1995)::Comedy\r\n244::Gumby: The Movie (1995)::Animation|Children's\r\n245::Glass Shield, The (1994)::Crime|Drama\r\n246::Hoop Dreams (1994)::Documentary\r\n247::Heavenly Creatures (1994)::Drama|Fantasy|Romance|Thriller\r\n248::Houseguest (1994)::Comedy\r\n249::Immortal Beloved (1994)::Drama|Romance\r\n250::Heavyweights (1994)::Children's|Comedy\r\n251::Hunted, The (1995)::Action\r\n252::I.Q. (1994)::Comedy|Romance\r\n253::Interview with the Vampire (1994)::Drama|Horror\r\n254::Jefferson in Paris (1995)::Drama\r\n255::Jerky Boys, The (1994)::Comedy\r\n256::Junior (1994)::Comedy|Sci-Fi\r\n257::Just Cause (1995)::Mystery|Thriller\r\n258::Kid in King Arthur's Court, A (1995)::Adventure|Children's|Comedy|Fantasy|Romance\r\n259::Kiss of Death (1995)::Crime|Drama|Thriller\r\n260::Star Wars: Episode IV - A New Hope (1977)::Action|Adventure|Fantasy|Sci-Fi\r\n261::Little Women (1994)::Drama\r\n262::Little Princess, A (1995)::Children's|Drama\r\n263::Ladybird Ladybird (1994)::Drama\r\n264::Enfer, L' (1994)::Drama\r\n265::Like Water for Chocolate (Como agua para chocolate) (1992)::Drama|Romance\r\n266::Legends of the Fall (1994)::Drama|Romance|War|Western\r\n267::Major Payne (1994)::Comedy\r\n268::Little Odessa (1994)::Drama\r\n269::My Crazy Life (Mi vida loca) (1993)::Drama\r\n270::Love Affair (1994)::Drama|Romance\r\n271::Losing Isaiah (1995)::Drama\r\n272::Madness of King George, The (1994)::Drama\r\n273::Mary Shelley's Frankenstein (1994)::Drama|Horror\r\n274::Man of the House (1995)::Comedy\r\n275::Mixed Nuts (1994)::Comedy\r\n276::Milk Money (1994)::Comedy|Romance\r\n277::Miracle on 34th Street (1994)::Drama\r\n278::Miami Rhapsody (1995)::Comedy\r\n279::My Family (1995)::Drama\r\n280::Murder in the First (1995)::Drama|Thriller\r\n281::Nobody's Fool (1994)::Drama\r\n282::Nell (1994)::Drama\r\n283::New Jersey Drive (1995)::Crime|Drama\r\n284::New York Cop (1996)::Action|Crime\r\n285::Beyond Bedlam (1993)::Drama|Horror\r\n286::Nemesis 2: Nebula (1995)::Action|Sci-Fi|Thriller\r\n287::Nina Takes a Lover (1994)::Comedy|Romance\r\n288::Natural Born Killers (1994)::Action|Thriller\r\n289::Only You (1994)::Comedy|Romance\r\n290::Once Were Warriors (1994)::Crime|Drama\r\n291::Poison Ivy II (1995)::Thriller\r\n292::Outbreak (1995)::Action|Drama|Thriller\r\n293::Professional, The (a.k.a. Leon: The Professional) (1994)::Crime|Drama|Romance|Thriller\r\n294::Perez Family, The (1995)::Comedy|Romance\r\n295::Pyromaniac's Love Story, A (1995)::Comedy|Romance\r\n296::Pulp Fiction (1994)::Crime|Drama\r\n297::Panther (1995)::Drama\r\n298::Pushing Hands (1992)::Comedy\r\n299::Priest (1994)::Drama\r\n300::Quiz Show (1994)::Drama\r\n301::Picture Bride (1995)::Drama|Romance\r\n302::Queen Margot (La Reine Margot) (1994)::Drama|Romance\r\n303::Quick and the Dead, The (1995)::Action|Adventure|Western\r\n304::Roommates (1995)::Comedy|Drama\r\n305::Ready to Wear (Pret-A-Porter) (1994)::Comedy\r\n306::Three Colors: Red (1994)::Drama\r\n307::Three Colors: Blue (1993)::Drama\r\n308::Three Colors: White (1994)::Drama\r\n309::Red Firecracker, Green Firecracker (1994)::Drama\r\n310::Rent-a-Kid (1995)::Comedy\r\n311::Relative Fear (1994)::Horror|Thriller\r\n312::Stuart Saves His Family (1995)::Comedy\r\n313::Swan Princess, The (1994)::Animation|Children's\r\n314::Secret of Roan Inish, The (1994)::Drama\r\n315::Specialist, The (1994)::Action\r\n316::Stargate (1994)::Action|Adventure|Sci-Fi\r\n317::Santa Clause, The (1994)::Children's|Comedy|Fantasy\r\n318::Shawshank Redemption, The (1994)::Drama\r\n319::Shallow Grave (1994)::Thriller\r\n320::Suture (1993)::Film-Noir|Thriller\r\n321::Strawberry and Chocolate (Fresa y chocolate) (1993)::Drama\r\n322::Swimming with Sharks (1995)::Comedy|Drama\r\n324::Sum of Us, The (1994)::Comedy\r\n325::National Lampoon's Senior Trip (1995)::Comedy\r\n326::To Live (Huozhe) (1994)::Drama\r\n327::Tank Girl (1995)::Action|Comedy|Musical|Sci-Fi\r\n328::Tales From the Crypt Presents: Demon Knight (1995)::Horror\r\n329::Star Trek: Generations (1994)::Action|Adventure|Sci-Fi\r\n330::Tales from the Hood (1995)::Comedy|Horror\r\n331::Tom & Viv (1994)::Drama\r\n332::Village of the Damned (1995)::Horror|Sci-Fi\r\n333::Tommy Boy (1995)::Comedy\r\n334::Vanya on 42nd Street (1994)::Drama\r\n335::Underneath, The (1995)::Mystery|Thriller\r\n336::Walking Dead, The (1995)::Drama|War\r\n337::What's Eating Gilbert Grape (1993)::Drama\r\n338::Virtuosity (1995)::Sci-Fi|Thriller\r\n339::While You Were Sleeping (1995)::Comedy|Romance\r\n340::War, The (1994)::Adventure|Drama\r\n341::Double Happiness (1994)::Drama\r\n342::Muriel's Wedding (1994)::Comedy|Romance\r\n343::Baby-Sitters Club, The (1995)::Children's\r\n344::Ace Ventura: Pet Detective (1994)::Comedy\r\n345::Adventures of Priscilla, Queen of the Desert, The (1994)::Comedy|Drama\r\n346::Backbeat (1993)::Drama|Musical\r\n347::Bitter Moon (1992)::Drama\r\n348::Bullets Over Broadway (1994)::Comedy\r\n349::Clear and Present Danger (1994)::Action|Adventure|Thriller\r\n350::Client, The (1994)::Drama|Mystery|Thriller\r\n351::Corrina, Corrina (1994)::Comedy|Drama|Romance\r\n352::Crooklyn (1994)::Comedy\r\n353::Crow, The (1994)::Action|Romance|Thriller\r\n354::Cobb (1994)::Drama\r\n355::Flintstones, The (1994)::Children's|Comedy\r\n356::Forrest Gump (1994)::Comedy|Romance|War\r\n357::Four Weddings and a Funeral (1994)::Comedy|Romance\r\n358::Higher Learning (1995)::Drama\r\n359::I Like It Like That (1994)::Comedy|Drama|Romance\r\n360::I Love Trouble (1994)::Action|Comedy\r\n361::It Could Happen to You (1994)::Drama|Romance\r\n362::Jungle Book, The (1994)::Adventure|Children's|Romance\r\n363::Wonderful, Horrible Life of Leni Riefenstahl, The (Die Macht der Bilder) (1993)::Documentary\r\n364::Lion King, The (1994)::Animation|Children's|Musical\r\n365::Little Buddha (1993)::Drama\r\n366::Wes Craven's New Nightmare (1994)::Horror\r\n367::Mask, The (1994)::Comedy|Crime|Fantasy\r\n368::Maverick (1994)::Action|Comedy|Western\r\n369::Mrs. Parker and the Vicious Circle (1994)::Drama\r\n370::Naked Gun 33 1/3: The Final Insult (1994)::Comedy\r\n371::Paper, The (1994)::Comedy|Drama\r\n372::Reality Bites (1994)::Comedy|Drama\r\n373::Red Rock West (1992)::Thriller\r\n374::Richie Rich (1994)::Children's|Comedy\r\n375::Safe Passage (1994)::Drama\r\n376::River Wild, The (1994)::Action|Thriller\r\n377::Speed (1994)::Action|Romance|Thriller\r\n378::Speechless (1994)::Comedy|Romance\r\n379::Timecop (1994)::Action|Sci-Fi\r\n380::True Lies (1994)::Action|Adventure|Comedy|Romance\r\n381::When a Man Loves a Woman (1994)::Drama\r\n382::Wolf (1994)::Drama|Horror\r\n383::Wyatt Earp (1994)::Western\r\n384::Bad Company (1995)::Action\r\n385::Man of No Importance, A (1994)::Drama\r\n386::S.F.W. (1994)::Drama\r\n387::Low Down Dirty Shame, A (1994)::Action|Comedy\r\n388::Boys Life (1995)::Drama\r\n389::Colonel Chabert, Le (1994)::Drama|Romance|War\r\n390::Faster Pussycat! Kill! Kill! (1965)::Action|Comedy|Drama\r\n391::Jason's Lyric (1994)::Crime|Drama\r\n392::Secret Adventures of Tom Thumb, The (1993)::Adventure|Children's\r\n393::Street Fighter (1994)::Action\r\n394::Coldblooded (1995)::Action\r\n395::Desert Winds (1995)::Drama\r\n396::Fall Time (1995)::Drama\r\n397::Fear, The (1995)::Horror\r\n398::Frank and Ollie (1995)::Documentary\r\n399::Girl in the Cadillac (1995)::Drama\r\n400::Homage (1995)::Drama\r\n401::Mirage (1995)::Action|Thriller\r\n402::Open Season (1996)::Comedy\r\n403::Two Crimes (1995)::Comedy|Crime|Drama\r\n404::Brother Minister: The Assassination of Malcolm X (1994)::Documentary\r\n405::Highlander III: The Sorcerer (1994)::Action|Sci-Fi\r\n406::Federal Hill (1994)::Drama\r\n407::In the Mouth of Madness (1995)::Horror|Thriller\r\n408::8 Seconds (1994)::Drama\r\n409::Above the Rim (1994)::Drama\r\n410::Addams Family Values (1993)::Comedy\r\n411::You So Crazy (1994)::Comedy\r\n412::Age of Innocence, The (1993)::Drama\r\n413::Airheads (1994)::Comedy\r\n414::Air Up There, The (1994)::Comedy\r\n415::Another Stakeout (1993)::Comedy|Thriller\r\n416::Bad Girls (1994)::Western\r\n417::Barcelona (1994)::Comedy|Romance\r\n418::Being Human (1993)::Drama\r\n419::Beverly Hillbillies, The (1993)::Comedy\r\n420::Beverly Hills Cop III (1994)::Action|Comedy\r\n421::Black Beauty (1994)::Adventure|Children's\r\n422::Blink (1994)::Thriller\r\n423::Blown Away (1994)::Action|Thriller\r\n424::Blue Chips (1994)::Drama\r\n425::Blue Sky (1994)::Drama|Romance\r\n426::Body Snatchers (1993)::Horror|Sci-Fi|Thriller\r\n427::Boxing Helena (1993)::Mystery|Romance|Thriller\r\n428::Bronx Tale, A (1993)::Drama\r\n429::Cabin Boy (1994)::Comedy\r\n430::Calendar Girl (1993)::Drama\r\n431::Carlito's Way (1993)::Crime|Drama\r\n432::City Slickers II: The Legend of Curly's Gold (1994)::Comedy|Western\r\n433::Clean Slate (1994)::Comedy\r\n434::Cliffhanger (1993)::Action|Adventure|Crime\r\n435::Coneheads (1993)::Comedy|Sci-Fi\r\n436::Color of Night (1994)::Drama|Thriller\r\n437::Cops and Robbersons (1994)::Comedy\r\n438::Cowboy Way, The (1994)::Action|Comedy\r\n439::Dangerous Game (1993)::Drama\r\n44

In [5]:
import pandas as pd

mnames = ['movie_id', 'title', 'genres']
#movies = pd.read_table('datasets/movielens/movies.dat', sep='::',
movies = pd.read_table('movies.dat', sep='::',
                       header=None, names=mnames, engine='python')
movies[:20]

    movie_id  ...                        genres
0          1  ...   Animation|Children's|Comedy
1          2  ...  Adventure|Children's|Fantasy
2          3  ...                Comedy|Romance
3          4  ...                  Comedy|Drama
4          5  ...                        Comedy
5          6  ...         Action|Crime|Thriller
6          7  ...                Comedy|Romance
7          8  ...          Adventure|Children's
8          9  ...                        Action
9         10  ...     Action|Adventure|Thriller
10        11  ...          Comedy|Drama|Romance
11        12  ...                 Comedy|Horror
12        13  ...          Animation|Children's
13        14  ...                         Drama
14        15  ...      Action|Adventure|Romance
15        16  ...                Drama|Thriller
16        17  ...                 Drama|Romance
17        18  ...                      Thriller
18        19  ...                        Comedy
19        20  ...                        Action

[20 rows x 3 columns]

In [ ]:
movies.shape

(3883, 3)

In [ ]:
all_genres = []
for x in movies.genres:
    all_genres.extend(x.split('|'))
genres = pd.unique(all_genres)
genres

array(['Animation', "Children's", 'Comedy', 'Adventure', 'Fantasy',
       'Romance', 'Drama', 'Action', 'Crime', 'Thriller', 'Horror',
       'Sci-Fi', 'Documentary', 'War', 'Musical', 'Mystery', 'Film-Noir',
       'Western'], dtype=object)

In [ ]:
len(all_genres)

6408

In [ ]:
genres.size

18

In [ ]:
zero_matrix = np.zeros((len(movies), len(genres)))
zero_matrix

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [ ]:
zero_matrix.shape

(3883, 18)

In [ ]:
dummies = pd.DataFrame(zero_matrix, columns=genres)
dummies

,Animation,Children's,Comedy,Adventure,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Sci-Fi,Documentary,War,Musical,Mystery,Film-Noir,Western
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3878,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3879,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3880,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3881,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3882,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
gen = movies.genres[1]
gen.split('|')

['Adventure', "Children's", 'Fantasy']

In [ ]:
dummies.columns

Index(['Animation', 'Children's', 'Comedy', 'Adventure', 'Fantasy', 'Romance',
       'Drama', 'Action', 'Crime', 'Thriller', 'Horror', 'Sci-Fi',
       'Documentary', 'War', 'Musical', 'Mystery', 'Film-Noir', 'Western'],
      dtype='object')

In [ ]:
dummies.columns.get_indexer(gen.split('|'))

array([3, 1, 4], dtype=int64)

* get_indexer()

In [ ]:
index = pd.Index(['c', 'a', 'b', 'd'])
index

Index(['c', 'a', 'b', 'd'], dtype='object')

In [ ]:
index.get_indexer(['a', 'b', 'x'])

array([ 1,  2, -1], dtype=int64)

In [ ]:
index.take(index.get_indexer(['a', 'b', 'x']))
# index.take(index.get_indexer(['b', 'a', 'x', 'y']))

Index(['a', 'b', 'd'], dtype='object')

In [ ]:
for i, gen in enumerate(movies.genres):
    indices = dummies.columns.get_indexer(gen.split('|'))
    dummies.iloc[i, indices] = 1

In [ ]:
dummies

,Animation,Children's,Comedy,Adventure,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Sci-Fi,Documentary,War,Musical,Mystery,Film-Noir,Western
0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3878,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3879,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3880,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3881,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3882,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
movies_windic = movies.join(dummies.add_prefix('Genre_'))
movies_windic

,movie_id,title,genres,Genre_Animation,Genre_Children's,Genre_Comedy,Genre_Adventure,Genre_Fantasy,Genre_Romance,Genre_Drama,...,Genre_Crime,Genre_Thriller,Genre_Horror,Genre_Sci-Fi,Genre_Documentary,Genre_War,Genre_Musical,Genre_Mystery,Genre_Film-Noir,Genre_Western
0,1,Toy Story (1995),Animation|Children's|Comedy,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,Jumanji (1995),Adventure|Children's|Fantasy,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,Grumpier Old Men (1995),Comedy|Romance,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,Waiting to Exhale (1995),Comedy|Drama,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,Father of the Bride Part II (1995),Comedy,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3878,3948,Meet the Parents (2000),Comedy,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3879,3949,Requiem for a Dream (2000),Drama,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3880,3950,Tigerland (2000),Drama,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3881,3951,Two Family House (2000),Drama,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3882,3952,"Contender, The (2000)",Drama|Thriller,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
movies_windic.iloc[0]

movie_id                                      1
title                          Toy Story (1995)
genres              Animation|Children's|Comedy
Genre_Animation                             1.0
Genre_Children's                            1.0
                               ...
Genre_War                                   0.0
Genre_Musical                               0.0
Genre_Mystery                               0.0
Genre_Film-Noir                             0.0
Genre_Western                               0.0
Name: 0, Length: 21, dtype: object

In [ ]:
movies_windic.shape

(3883, 21)

In [ ]:
movies_windic.head()

,movie_id,title,genres,Genre_Animation,Genre_Children's,Genre_Comedy,Genre_Adventure,Genre_Fantasy,Genre_Romance,Genre_Drama,...,Genre_Crime,Genre_Thriller,Genre_Horror,Genre_Sci-Fi,Genre_Documentary,Genre_War,Genre_Musical,Genre_Mystery,Genre_Film-Noir,Genre_Western
0,1,Toy Story (1995),Animation|Children's|Comedy,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,Jumanji (1995),Adventure|Children's|Fantasy,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,Grumpier Old Men (1995),Comedy|Romance,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,Waiting to Exhale (1995),Comedy|Drama,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,Father of the Bride Part II (1995),Comedy,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
np.random.seed(12345)
values = np.random.rand(10)
values

array([0.9296, 0.3164, 0.1839, 0.2046, 0.5677, 0.5955, 0.9645, 0.6532,
       0.7489, 0.6536])

In [ ]:
bins = [0, 0.2, 0.4, 0.6, 0.8, 1]
pd.cut(values, bins)

[(0.8, 1.0], (0.2, 0.4], (0.0, 0.2], (0.2, 0.4], (0.4, 0.6], (0.4, 0.6], (0.8, 1.0], (0.6, 0.8], (0.6, 0.8], (0.6, 0.8]]
Categories (5, interval[float64]): [(0.0, 0.2] < (0.2, 0.4] < (0.4, 0.6] < (0.6, 0.8] < (0.8, 1.0]]

In [ ]:
pd.get_dummies(pd.cut(values, bins))

   (0.0, 0.2]  (0.2, 0.4]  (0.4, 0.6]  (0.6, 0.8]  (0.8, 1.0]
0           0           0           0           0           1
1           0           1           0           0           0
2           1           0           0           0           0
3           0           1           0           0           0
4           0           0           1           0           0
5           0           0           1           0           0
6           0           0           0           0           1
7           0           0           0           1           0
8           0           0           0           1           0
9           0           0           0           1           0

In [ ]:
pd.concat([pd.Series(values), pd.get_dummies(pd.cut(values, bins))], axis=1)

          0  (0.0, 0.2]  (0.2, 0.4]  (0.4, 0.6]  (0.6, 0.8]  (0.8, 1.0]
0  0.929616           0           0           0           0           1
1  0.316376           0           1           0           0           0
2  0.183919           1           0           0           0           0
3  0.204560           0           1           0           0           0
4  0.567725           0           0           1           0           0
5  0.595545           0           0           1           0           0
6  0.964515           0           0           0           0           1
7  0.653177           0           0           0           1           0
8  0.748907           0           0           0           1           0
9  0.653570           0           0           0           1           0

In [ ]:
pd.DataFrame(values).join(pd.get_dummies(pd.cut(values, bins)))

          0  (0.0, 0.2]  (0.2, 0.4]  (0.4, 0.6]  (0.6, 0.8]  (0.8, 1.0]
0  0.929616           0           0           0           0           1
1  0.316376           0           1           0           0           0
2  0.183919           1           0           0           0           0
3  0.204560           0           1           0           0           0
4  0.567725           0           0           1           0           0
5  0.595545           0           0           1           0           0
6  0.964515           0           0           0           0           1
7  0.653177           0           0           0           1           0
8  0.748907           0           0           0           1           0
9  0.653570           0           0           0           1           0

###

In [ ]:
['man', 'waman', 'man', 'waman', 'waman']

['man', 'waman', 'man', 'waman', 'waman']

In [ ]:
pd.get_dummies(['man', 'woman', 'man', 'woman', 'woman'])

   man  woman
0    1      0
1    0      1
2    1      0
3    0      1
4    0      1

In [ ]:
pd.get_dummies(['man', 'woman', 'man', 'woman', 'woman'])['woman'].sum()

3

In [ ]:
index.take(pd.Index(['c', 'a', 'b', 'd']).get_indexer(['a', 'b', 'c']))

Index(['a', 'b', 'c'], dtype='object')

## String Manipulation

### String Object Methods

In [ ]:
val = 'a,b,  guido'
val.split(',')

['a', 'b', '  guido']

In [ ]:
pieces = [x.strip() for x in val.split(',')]
pieces

['a', 'b', 'guido']

In [ ]:
first, second, third = pieces
first + '::' + second + '::' + third

'a::b::guido'

In [ ]:
'::'.join(pieces)

'a::b::guido'

In [ ]:
val

'a,b,  guido'

In [ ]:
'guido' in val

True

In [ ]:
val.index(',')

1

In [ ]:
val.find(':')

-1

In [ ]:
#val.index(':') #

In [ ]:
val.count(',')

2

In [ ]:
val.replace(',', '::')

'a::b::  guido'

In [ ]:
val.replace(',', '')

'ab  guido'

In [ ]:
val.replace(' ', '')

'a,b,guido'

In [ ]:
val

'a,b,  guido'

In [ ]:
s = 'ABC abc'
s.casefold()

'abc abc'

In [ ]:
'seoul population'.capitalize()

'Seoul population'

In [ ]:
'seoul population'.title()

'Seoul Population'

In [ ]:
print('::'.join('py'))
print('py'.join('::'))

p::y
:py:

In [ ]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

### Regular Expressions

In [ ]:
import re
text = "foo    bar\t baz  \tqux"
re.split('\s+', text)

['foo', 'bar', 'baz', 'qux']

In [ ]:
regex = re.compile('\s+')
regex

re.compile(r'\s+', re.UNICODE)

In [ ]:
regex.split(text)

['foo', 'bar', 'baz', 'qux']

In [ ]:
regex.findall(text)

['    ', '\t ', '  \t']

*

In [ ]:
# text = """dave@google.com
text = """Dave dave@google.com
Steve steve@gmail.com
Rob rob@gmail.com
Ryan ryan@yahoo.com
"""

In [ ]:
pattern = r'[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}'
pattern

'[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,4}'

In [ ]:
# re.IGNORECASE makes the regex case-insensitive
# regex = re.compile(pattern, flags=re.IGNORECASE)
regex = re.compile(pattern, flags=re.I)

In [ ]:
regex.findall(text)

['dave@google.com', 'steve@gmail.com', 'rob@gmail.com', 'ryan@yahoo.com']

In [ ]:
m = regex.search(text)
m

In [ ]:
text[m.start():m.end()]

'dave@google.com'

In [ ]:
print(m.start(), m.end())

5 20

In [ ]:
print(regex.match(text))

None

In [ ]:
print(regex.sub('REDACTED', text))

Dave REDACTED
Steve REDACTED
Rob REDACTED
Ryan REDACTED

In [ ]:
pattern = r'([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\.([A-Z]{2,4})'
regex = re.compile(pattern, flags=re.IGNORECASE)

In [ ]:
m = regex.match('wesm@bright.net')
m.groups()

('wesm', 'bright', 'net')

In [ ]:
regex.findall(text)

[('dave', 'google', 'com'),
 ('steve', 'gmail', 'com'),
 ('rob', 'gmail', 'com'),
 ('ryan', 'yahoo', 'com')]

In [ ]:
print(regex.sub(r'Username: \1, Domain: \2, Suffix: \3', text))

Dave Username: dave, Domain: google, Suffix: com
Steve Username: steve, Domain: gmail, Suffix: com
Rob Username: rob, Domain: gmail, Suffix: com
Ryan Username: ryan, Domain: yahoo, Suffix: com

### Vectorized String Functions in pandas

In [ ]:
data = {'Dave': 'dave@google.com', 'Steve': 'steve@gmail.com',
        'Rob': 'rob@gmail.com', 'Wes': np.nan}
data = pd.Series(data)
data

Dave     dave@google.com
Steve    steve@gmail.com
Rob        rob@gmail.com
Wes                  NaN
dtype: object

In [ ]:
data.isnull()

Dave     False
Steve    False
Rob      False
Wes       True
dtype: bool

In [ ]:
data.str

In [ ]:
data.str.match

In [ ]:
data.str.contains('gmail')

Dave     False
Steve     True
Rob       True
Wes        NaN
dtype: object

In [ ]:
pattern

'([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\\.([A-Z]{2,4})'

In [ ]:
data.str.findall(pattern, flags=re.IGNORECASE)

Dave     [(dave, google, com)]
Steve    [(steve, gmail, com)]
Rob        [(rob, gmail, com)]
Wes                        NaN
dtype: object

In [ ]:
matches = data.str.match(pattern, flags=re.IGNORECASE)
matches

Dave     True
Steve    True
Rob      True
Wes       NaN
dtype: object

In [ ]:
type(matches)

pandas.core.series.Series

In [ ]:
data

Dave     dave@google.com
Steve    steve@gmail.com
Rob        rob@gmail.com
Wes                  NaN
dtype: object

---

In [ ]:
data.str.get(0)

Dave       d
Steve      s
Rob        r
Wes      NaN
dtype: object

In [ ]:
data.str.get?

In [ ]:
s = pd.Series(["String",
              (1, 2, 3),
              ["a", "b", "c"],
              123,
              -456,
              {"1": "Hello", "2": "World"}])
s

0                          String
1                       (1, 2, 3)
2                       [a, b, c]
3                             123
4                            -456
5    {'1': 'Hello', '2': 'World'}
dtype: object

In [ ]:
s.str.get(1)

0       t
1       2
2       b
3     NaN
4     NaN
5    None
dtype: object

In [ ]:
s.str.get(-1)

0       g
1       3
2       c
3     NaN
4     NaN
5    None
dtype: object

In [ ]:
data

Dave     dave@google.com
Steve    steve@gmail.com
Rob        rob@gmail.com
Wes                  NaN
dtype: object

In [ ]:
data.str[1]

Dave       a
Steve      t
Rob        o
Wes      NaN
dtype: object

In [ ]:
data.str[:5]

Dave     dave@
Steve    steve
Rob      rob@g
Wes        NaN
dtype: object

## Conclusion

In [ ]:
data = {'Dave': 'dave@google.com', 'Steve': 'steve@gmail.com',
        'Rob': 'rob@gmail.com', 'Wes': np.nan}
data = pd.Series(data)
data

Dave     dave@google.com
Steve    steve@gmail.com
Rob        rob@gmail.com
Wes                  NaN
dtype: object

In [ ]:
pattern = r'([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\.([A-Z]{2,4})'
regex = re.compile(pattern, flags=re.IGNORECASE)
m = regex.match('wesm@bright.co.kr')
m.groups()

('wesm', 'bright.co', 'kr')

In [ ]:
m = regex.match('wesm@bright.co.kr')
m.groups()

('wesm', 'bright.co', 'kr')

In [ ]:
pattern = r'([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\.([A-Z]{2,4})'
# pattern = r'[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}'
regex = re.compile(pattern, flags=re.IGNORECASE)
regex.findall('we._%+-sm@bright.co.kr')

[('we._%+-sm', 'bright.co', 'kr')]

In [ ]:
text = """Dave da%ve@google.com
Steve ste+ve@gmail.com
Rob r-ob@gmail.com
Ryan ryan@yahoo.com
"""

In [ ]:
regex.findall(text)

[('da%ve', 'google', 'com'),
 ('ste+ve', 'gmail', 'com'),
 ('r-ob', 'gmail', 'com'),
 ('ryan', 'yahoo', 'com')]

In [ ]:
pattern2 = r'[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}'
regex = re.compile(pattern2, flags=re.IGNORECASE)

In [ ]:
text = """Dave da%ve@google.com
Steve ste+ve@gmail.com
Rob r-ob@gmail.com
Ryan ryan@yahoo.com
"""

In [ ]:
regex.findall(text)

['da%ve@google.com', 'ste+ve@gmail.com', 'r-ob@gmail.com', 'ryan@yahoo.com']

In [ ]:
pattern = r'([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\.([A-Z]{2,4})'
pattern2 = r'[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}'
regex = re.compile(pattern2, flags=re.IGNORECASE)

In [ ]:
text = """Dave da%ve@google.com
Steve ste+ve@gmail.com
Rob r-ob@gmail.com
Ryan ryan@yahoo.com
"""

In [ ]:
regex.findall(text)

['da%ve@google.com', 'ste+ve@gmail.com', 'r-ob@gmail.com', 'ryan@yahoo.com']

In [ ]:
pattern = r'a.b'
regex = re.compile(pattern, flags=re.IGNORECASE)
regex.findall('axb')

['axb']

In [ ]:
pattern = r'a[.]b'
regex = re.compile(pattern, flags=re.IGNORECASE)
regex.findall('a.b')

['a.b']

In [ ]:
pattern = r'a\.b'
regex = re.compile(pattern, flags=re.IGNORECASE)
regex.findall('a.b')

['a.b']

In [ ]:
pattern = r'a\.b'
regex = re.compile(pattern, flags=re.IGNORECASE)
regex.findall('a.b')

['a.b']

In [ ]:
import re
p = re.compile('[a-z]+')
m = p.match('python java')
m.group()

'python'

In [ ]:
p.findall('python java')

['python', 'java']

In [ ]:
i = p.finditer('python java')
for c in i:
    print(c.group())

python
java

In [ ]:
import re
re.findall('[a-z]+', 'python java')

['python', 'java']

In [ ]:
import re
re.findall('\(\d+\.\d+, \d+\.\d+\)', '((37.99, 127.45), (38.34, 127.31))')

['(37.99, 127.45)', '(38.34, 127.31)']

In [ ]:
import re
re.findall('\((\d+\.\d+), (\d+\.\d+)\)', '((37.99, 127.45), (38.34, 127.31))')[0]

('37.99', '127.45')

In [ ]:
import re
re.findall('\((\d+\.\d*), (\d+\.\d*)\)', '((37.99, 127.45), (38.34, 127.31), (38.28, 127.))')

[('37.99', '127.45'), ('38.34', '127.31'), ('38.28', '127.')]

In [ ]:
import re
re.findall('\((\d+\.\d*), (\d+\.\d*)\)', '((37.99, 127.45), (38.34, 127.31), (38.28, 127.))')

[('37.99', '127.45'), ('38.34', '127.31'), ('38.28', '127.')]

In [ ]:
import re
re.findall('\d+\.\d*', '37.99 127.45 38.34, 3. 4. 10')

['37.99', '127.45', '38.34', '3.', '4.']

In [ ]:
import re
re.findall('\d*[.]\d*', '4  7.9  3. .8  4. 10')

['7.9', '3.', '.8', '4.']